.root {
  text-align: center;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(173, 255, 47, 0.5);
}

.active-tabs {
  background: rgb(173, 255, 47);
  border: none;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display:none;
}

.active-content {
  display: block;
}
